<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamstatsbean">    
    <sql id="selectId">
        StatID,
TeamID,
SeasonType,
Season,
Name,
Team,
Wins,
Losses,
Updated,
Games,
FantasyPoints,
Minutes,
FieldGoalsMade,
FieldGoalsAttempted,
FieldGoalsPercentage,
EffectiveFieldGoalsPercentage,
TwoPointersMade,
TwoPointersAttempted,
TwoPointersPercentage,
ThreePointersMade,
ThreePointersAttempted,
ThreePointersPercentage,
FreeThrowsMade,
FreeThrowsAttempted,
FreeThrowsPercentage,
OffensiveRebounds,
DefensiveRebounds,
Rebounds,
OffensiveReboundsPercentage,
DefensiveReboundsPercentage,
TotalReboundsPercentage,
Assists,
Steals,
BlockedShots,
Turnovers,
PersonalFouls,
Points,
TrueShootingAttempts,
TrueShootingPercentage,
PlayerEfficiencyRating,
AssistsPercentage,
StealsPercentage,
BlocksPercentage,
TurnOversPercentage,
UsageRatePercentage,
FantasyPointsFanDuel,
FantasyPointsDraftKings,
FantasyPointsYahoo
    </sql>   
 
    <insert id="add" parameterType="TeamStatsBean"  >
        insert into TeamStats ( 
       StatID,
TeamID,
SeasonType,
Season,
Name,
Team,
Wins,
Losses,
Updated,
Games,
FantasyPoints,
Minutes,
FieldGoalsMade,
FieldGoalsAttempted,
FieldGoalsPercentage,
EffectiveFieldGoalsPercentage,
TwoPointersMade,
TwoPointersAttempted,
TwoPointersPercentage,
ThreePointersMade,
ThreePointersAttempted,
ThreePointersPercentage,
FreeThrowsMade,
FreeThrowsAttempted,
FreeThrowsPercentage,
OffensiveRebounds,
DefensiveRebounds,
Rebounds,
OffensiveReboundsPercentage,
DefensiveReboundsPercentage,
TotalReboundsPercentage,
Assists,
Steals,
BlockedShots,
Turnovers,
PersonalFouls,
Points,
TrueShootingAttempts,
TrueShootingPercentage,
PlayerEfficiencyRating,
AssistsPercentage,
StealsPercentage,
BlocksPercentage,
TurnOversPercentage,
UsageRatePercentage,
FantasyPointsFanDuel,
FantasyPointsDraftKings,
FantasyPointsYahoo)        
        values (#{StatID},#{TeamID},#{SeasonType},#{Season},#{Name},#{Team},#{Wins},#{Losses},#{Updated},#{Games},#{FantasyPoints},#{Minutes},#{FieldGoalsMade},#{FieldGoalsAttempted},
        #{FieldGoalsPercentage},#{EffectiveFieldGoalsPercentage},#{TwoPointersMade},#{TwoPointersAttempted},#{TwoPointersPercentage},#{ThreePointersMade},#{ThreePointersAttempted},
        #{ThreePointersPercentage},#{FreeThrowsMade},#{FreeThrowsAttempted},#{FreeThrowsPercentage},#{OffensiveRebounds},#{DefensiveRebounds},#{Rebounds},#{OffensiveReboundsPercentage},
        #{DefensiveReboundsPercentage},#{TotalReboundsPercentage},#{Assists},#{Steals},#{BlockedShots},#{Turnovers},#{PersonalFouls},#{Points},#{TrueShootingAttempts},#{TrueShootingPercentage},
        #{PlayerEfficiencyRating},#{AssistsPercentage},#{StealsPercentage},#{BlocksPercentage},#{TurnOversPercentage},#{UsageRatePercentage},#{FantasyPointsFanDuel},#{FantasyPointsDraftKings},#{FantasyPointsYahoo})
    </insert>
    <!-- 根据id查询队伍 -->
    <select id="getById" parameterType="Long" resultType="TeamStatsBean" >
        select
        <include refid="selectId" />
        from  TeamStats  where teamId=#{teamId}
    </select>
  
    <!-- 列出所有队伍 -->
    <select id="getAllTeamStats" resultType="TeamStatsBean" >
        select
        <include refid="selectId" />
        from  TeamStats
    </select>
    
    <!-- 列出所有东部队伍 -->
    <!--
    <select id="getEastTeamStats" resultType="TeamStatsBean" >
        select
        <include refid="selectId" />
        from  TeamStats where conference = ${"Eastern"}
    </select>-->
    <!-- 列出所有西部队伍 -->
    <!--
    <select id="getWestTeamStats" resultType="TeamStatsBean" >
        select
        <include refid="selectId" />
        from  TeamStats where conference = ${"Western"}
    </select>-->
</mapper>
